// math function 
@use 'sass:math' ;

// Partials : 
@use './utils/mixins' ;
@use './utils/prerequisites' ; 


// mixins : 
@mixin green-button{
    height: 46px ;  
    width: 80vw ; 

    color: white ; 
    background-color: $button ;    

    text-align: center;
    font-weight: 600;
    border-radius: 5px ;
    opacity: .8;
}

// variables : 
$heading-color: white ; 
$primary-color: #93969A ; 
$link :#1CB495 ; 
$button :#1CB495 ;  
$bright-button :#1edab4 ;  
$font-size: 1rem ; 


// STYLE : 
body{
    height: 100vh ;
    background-image: url('../assets/images/bg01.jpg') ;
    background-repeat: no-repeat;
    background-size: cover ;
    // padding: 0 25px ; 
    margin: 0 30px ; 
    
    display: flex; 
    flex-flow: column wrap ; 
    justify-content: center ;
    
 // universal style inside body 
    a, li{
        &:hover{
            color: $bright-button ;
            text-decoration: none ; 
            opacity: 1 ; 
            transition: all .3s ease-in-out ; 
        }
    }
    
 // styling header 
    header{
        h1{
            margin-bottom: 20px ;
            font-weight: 700 ;
        }
        .header__text{
            margin-bottom: 20px ;
            opacity: .5  ;
            line-height: 1.5;
        }
        margin-bottom: 15px ;
    }
    
 // styling main 
    main{
        display: flex ; 
        flex-flow: column wrap ; 
        .mail{
            font-size: 1rem ;
            height: 47px ; 
            width: 80vw ; 
            padding: 0 15px ;
            background-color: rgba(255, 255, 255, 0) ;
            outline : 2px solid $primary-color ;
            border-radius: 5px ;
            &:focus{
                opacity: 1 ;     
                background-color: rgba(255, 255, 255, 0.2) ;
                outline: 2px solid $bright-button ; 
                transition: all .3s ease-in ;
            }
            &::placeholder{
                color: $primary-color ;
            }
        }
        .button{
            @include green-button() ; 
            font-size: 1.01rem ; 
            margin-top: 20px ; 
        }
    }
    
//  styling footer 
    footer{
        position: absolute ; 
        bottom: 40px ; 
        opacity: .5 ;
        ul{
            li{
                list-style-type: none;
                display: inline-block ; 
            }
        }
        .footer__icons{
            font-size: 1.3rem ;                      
            li{
                padding-right: 14px ; 
            }
        }

        .footer__copyright{
            font-size: .8rem ;
            font-weight: 300;
            padding-top: 12px ;
            li{
                &:last-child{
                    padding-left : 8px ; 
                }
            }
        }
    }

}